{% if request.user.is_authenticated %}

<style>
  
#content-related {
    background: #f8f8f8;
}

#content-related .module {
    background: none;
}

#content-related h3 {
    font-size: 14px;
    color: #666;
    padding: 0 16px;
    margin: 0 0 16px;
}

#content-related h4 {
    font-size: 13px;
}

#content-related p {
    padding-left: 16px;
    padding-right: 16px;
}

#content-related .actionlist {
    padding: 0;
    margin: 16px;
}

#content-related .actionlist li {
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 18px;
}

#content-related .module h2 {
    background: none;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    color: #333;
}

.delete-confirmation form input[type="submit"] {
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    color: #fff;
}

/* .delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
    background: #a41515;
} */

.delete-confirmation form .cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    background: #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    color: #333;
    margin: 0 0 0 10px;
}

/* .delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: #ccc;
} */


.popup #content {
    padding: 20px;
}

.popup #container {
    min-width: 0;
}

.popup #header {
    padding: 10px 20px;
}
.sidebar{
  color: black !important;
}
</style>

<div class=" sidebar" role="navigation">
  <div class="navbar-collapse">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <ul class="nav" id="side-menu">
       
        <li>
          <a data-toggle="collapse" href="#collapseServices" role="button" aria-expanded="false">
            <!-- <i class="fa fa-cogs nav_icon"></i> -->
            DOCTOR
            <!-- <span class="fa arrow"></span>  -->
          </a>
          <ul class="nav nav-second-level collapse" id="collapseServices">
            <li>
              <a href="">Doctor Record</a>
            </li>
            <li>
              <a href="">Registered Doctor</a>
            </li>
            <li>
              <a href="">Approve Doctor</a>
            </li>
            <li>
              <a href="">Doctor Specialisation</a>
            </li>
          </ul>
          
        </li>
        <li class="">
          <a data-toggle="collapse" href="#collapsePage" role="button" aria-expanded="false">
            <!-- <i class="fa fa-book nav_icon"></i> -->
            PATIENT 
            <!-- <span class="fa arrow"></span> -->
          </a>
          <ul class="nav nav-second-level collapse" id="collapsePage">
            <li>
              <a href="">Patient Record</a>
            </li>
            <li>
              <a href="">Admit Patient</a>
            </li>
            <li>
              <a href="">Approve Patient</a>
            </li>
            <li>
              <a href="">Discharge Patient</a>
            </li>

          </ul>
       
        </li>

        <li>
          <a data-toggle="collapse" href="#collapseAppointment" role="button" aria-expanded="false">
            <!-- <i class="fa fa-check-square-o nav_icon"></i> -->
            APPOINTMENT
            <!-- <span class="fa arrow"></span> -->
          </a>
          <ul class="nav nav-second-level collapse" id="collapseAppointment">
            <li>
              <a href="">View Appointment</a>
            </li>
            <li>
              <a href="">Book Appointment</a>
            </li>
            <li>
              <a href="">View Appointment</a>
            </li>
          
          </ul>
      
        </li>
      </ul>
      <div class="clearfix"> </div>

    </nav>
  </div>
</div>

{% endif %}