<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link ml-2">
        <img src="static/images/admin.png" alt="" width="36" height="36" class=" img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light mt-1 ml-3 mmust">Mmust Pharmacy</span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mr-3">
            <div class="pull-left image sm-submenu-with-image a ml-2 ">
                <img src="static/images/admin.png" class="img-circle mt-2" width="36" height="36" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <a href="#"><i class="fa fa-circle text-success "></i> Online</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="/admin-dashboard" class="nav-link">
                        <i class="fas fa-tachometer-alt mr-2"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-hospital-user mr-2"></i>
                        <p>
                            Patient
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="/admin-add-patient" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Patient</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="/admin-view-patient" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Patient</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="/admin-approve-patient" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Approve Patient</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="/admin-discharge-patient" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Discharge Patient</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-address-book mr-2"></i>
                        <p>
                            Pharmacist
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="/add_pharmacist" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Pharmacist</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="/manage_pharmacist" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Pharmacist</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-briefcase-medical mr-2"></i>
                        <p>
                            Doctor
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="/admin_doctor_history" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">View Doctor</p>
                            </a>
                        </li>

                        <li class="nav-item pl-2">
                            <a href="/admin-add-doctor" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Doctor</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="/admin-view-doctor" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Doctor</p>
                            </a>
                        </li>

                        <li class="nav-item pl-2">
                            <a href="/admin-approve-doctor" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Approve Doctor</p>
                            </a>
                        </li>

                        <li class="nav-item pl-2">
                            <a href="/admin-view-doctor-specialisation" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Doctor specialisations</p>
                            </a>
                        </li>

                    </ul>
                </li>
      




                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-briefcase-medical mr-2"></i>
                        <p>
                            Blood
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="/admin-donation" class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">New Donnations</p>
                            </a>
                        </li>

                        <li class="nav-item pl-2">
                            <a href="/admin_donation_history" class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">View Donnations</p>
                            </a>
                        </li>

                        <li class="nav-item pl-2">
                            <a href="/admin-request" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Blood Requests</p>
                            </a>
                        </li>

                        
                        <li class="nav-item pl-2">
                            <a href="/admin-request-history" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Blood History</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="admin-blood" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Blood Stock</p>
                            </a>
                        </li>

                    </ul></li>




                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-briefcase-medical mr-2"></i>
                            <p>
                                Appointment
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
    
                            <li class="nav-item pl-2">
                                <a href="/admin-view-appointment" class="nav-link">
                                    <i class="fas fa-capsules"></i>
                                    <p class="pl-2">View Appointments</p>
                                </a>
                            </li>
    
                            <li class="nav-item pl-2">
                                <a href="/admin-add-appointment" class="nav-link">
                                    <i class="fas fa-capsules"></i>
                                    <p class="pl-2">Book Appointments</p>
                                </a>
                            </li>
    
                            <li class="nav-item pl-2">
                                <a href="/admin-approve-appointment" class="nav-link">
                                    <i class="fas fa-pills"></i>
                                    <p class="pl-2">Approve Appointments</p>
                                </a>
                            </li>
    
                        
    
                        </ul></li>


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-layer-group mr-2"></i>
                                <p>
                                    Stocked Drugs
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
        
                                <li class="nav-item pl-2">
                                    <a href="{% url 'add_stock' %}" class="nav-link">
                                        <i class="fas fa-capsules"></i>
                                        <p class="pl-2">add Drug</p>
                                    </a>
                                </li>
                                <li class="nav-item pl-2">
                                    <a href="{% url 'add_category'  %}" class="nav-link">
                                        <i class="fas fa-pills"></i>
                                        <p class="pl-2">Add Category</p>
                                    </a>
                                </li>
                                <li class="nav-item pl-2">
                                    <a href="{% url 'manage_stock'  %}" class="nav-link">
                                        <i class="fas fa-th"></i>
                                        <p class="pl-2">Manage Stock</p>
                                    </a>
                                </li>
        
                            </ul>
                        </li>



                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-address-book mr-2"></i>
                                <p>
                                    Feedback
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
        
                                <li class="nav-item pl-2">
                                    <a href="/patient_feedback_message" class="nav-link">
                                        <i class="fas fa-user-plus"></i>
                                        <p class="pl-2">Show</p>
                                    </a>
                                </li>
                                
        
                            </ul>
                        </li>





            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>